<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>Affecter Enseignant à une Classe</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2 class="mt-5 mb-3">Affecter Enseignant à une Classe</h2>
    <form th:action="@{/admin/affecter-responsable}" method="post">
        <div class="form-group">
            <label for="enseignant">Enseignant</label>
            <select class="form-control" id="enseignant"  name="enseignantId" required>
                <option value="">Sélectionnez un enseignant</option>
                <option th:each="enseignant : ${enseignants}"
                        th:value="${enseignant.id}"
                        th:text="${enseignant.nom + ' ' + enseignant.prenom}">
                </option>
            </select>
        </div>
        <div class="form-group">
            <label for="classe">Classe</label>
            <select class="form-control" id="classe" name="classeId" required>
                <option value="">Sélectionnez une classe</option>
                <option th:each="classe : ${classes}"
                        th:value="${classe.id}"
                        th:text="${classe.nom}">
                </option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Affecter</button>
    </form>
</div>
</body>
</html>
