<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Liste des Etudiants</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="mt-5">Liste des Etudiants</h2>
    <a href="/administrateur/ajouter-etudiant" class="btn btn-primary">Ajouter un Etudiant</a>
  </div>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Nom</th>
      <th>Prenom</th>
      <th>Date de Naissance</th>
      <th>Genre</th>
      <th>Adresse</th>
      <th>Email</th>
      <th>Numero carte</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="etudiant : ${etudiant}">
      <td th:text="${etudiant.nom}"></td>
      <td th:text="${etudiant.prenom}"></td>
      <td th:text="${etudiant.dateNaissance}"></td>
      <td th:text="${etudiant.genre}"></td>
      <td th:text="${etudiant.adresse}"></td>
      <td th:text="${etudiant.email}"></td>
      <td th:text="${etudiant.numeroEtudiant}"></td>
      <td><a href="#">Editer</a> | <a href="#">Supprimer</a></td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
